doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  block meta
  style
    include ../css/style.css
    block style

  block scripts
header
  a(href='/')
    img.image(src='/images/logo.png' alt='Logo biura podróży')
  a(href='/') Wycieczki lotnicze
  a(href='/') Wycieczki autokarowe
  a(href='/login') Moje konto
block main
footer
  span Biuro podróży, 2022
  a(href='') O firmie
  a(href='') Kontakt
  a(href='') Polityka prywatności

